package ui

const classLabel = "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"

templ Label(htmlFor string, title string) {
	<label for={ htmlFor } class={ classLabel }>{ title }</label>
}
