package ui

func Class(v string) func(*templ.Attributes) {
	return func(attrs *templ.Attributes) {
		attr := *attrs
		class := attr["class"].(string) + " " + v
		attr["class"] = class
	}
}

func IFCN(classNames []string) string {
	class := ""
	for _, cn := range classNames {
		class = class + " " + cn
	}
	return class
}

func IFF(cond bool, value string) string {
	if cond {
		return value
	}
	return ""
}
